* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row; 
    width: 100vw;  
    height: 100vh;  
    overflow-x: scroll;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 18px;
    background-color: #A333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; 
}

.storbild {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    font-size: 35px;
    flex-grow: 1; 
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100vw;  
}

.storbild img {
    height: 300px;
    width: 625px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10; 
}

.om-oss {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;  
    height: 100vh;
    background-color: #f0f0f0;  
    font-size: 30px;
    color: #333;
    text-align: center;
}
