* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row; 
    width: 100vw;   
    overflow-x: scroll;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-height: 100vh;  
    overflow-x: auto;  
    overflow-y: hidden; 
    height: 100vh; 
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 18px;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; 
    color: white;
}

.storbild {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 5px;
    font-size: 35px;
    flex-grow: 1; 
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100vw; 
    
}

.storbild img {
    height: 300px;
    width: 625px;
}


.mitten{
    
        display: flex;
        flex-direction: row;
        width: 400vw; 
        height: 100vh;
        overflow-x: auto;
        overflow-y: hidden; 
        scroll-behavior: smooth; 
    
}
.ingångssida, .om-oss {
    width: 400vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    gap: 70px;

}

.om-oss {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: green;  
    font-size: 30px;
    color: #333;
    text-align: center;
    flex-direction: row;
    width: 200vw;
    gap: 50px;
    padding: 100px;
   
}


.knappar {
    top:10px;
    right:20px;
    position:absolute;
    right:0px;
    margin: 20px;
    padding: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
    
}

.knappar a {
    display: flex;
    text-decoration: none;
    background: #F4E1C1;
    color: #3C5A36;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    


}

.knappar a:hover {
    background: #3C5A36;
    color: #F4E1C1;
}

