body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    margin: 0;
    padding: 0;
}

.ingångssida{
    display: flex;
    overflow-x: auto;
    width: 300vw;
    height: 100vh;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    }
    
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    color:#563832;
    font-size: 2rem;
    scroll-snap-align: start;
    text-align: center;
    background-image: url(wildhogs.png);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}



.main2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    scroll-snap-align: start;
    text-align: center;

}